In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
df_pyspark=spark.read.csv(r"C:\Users\Sreejit\Juypter Projects\test1.csv",header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|     Yash| 17|         6|  5000|
|    Aryan| 18|         4|  4000|
|Debashish| 19|         3|  3000|
|  Pratham| 18|      null|  1000|
|     null| 34|        19|  5600|
+---------+---+----------+------+

In [6]:
## Dropping columns
df_pyspark.drop('name').show()

+---+----------+------+
|age|experience|salary|
+---+----------+------+
| 17|         6|  5000|
| 18|         4|  4000|
| 19|         3|  3000|
| 18|      null|  1000|
| 34|        19|  5600|
+---+----------+------+

In [7]:
##Dropping N.A values
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|     Yash| 17|         6|  5000|
|    Aryan| 18|         4|  4000|
|Debashish| 19|         3|  3000|
+---------+---+----------+------+

In [8]:
## Filling the missing values
df_pyspark.na.fill('Missing Values').show()

+--------------+---+----------+------+
|          name|age|experience|salary|
+--------------+---+----------+------+
|          Yash| 17|         6|  5000|
|         Aryan| 18|         4|  4000|
|     Debashish| 19|         3|  3000|
|       Pratham| 18|      null|  1000|
|Missing Values| 34|        19|  5600|
+--------------+---+----------+------+

In [9]:
df_pyspark.na.fill('Missing',["name","age"]).show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|     Yash| 17|         6|  5000|
|    Aryan| 18|         4|  4000|
|Debashish| 19|         3|  3000|
|  Pratham| 18|      null|  1000|
|  Missing| 34|        19|  5600|
+---------+---+----------+------+

In [12]:
#imputer function
from pyspark.ml.feature import Imputer

imputer=Imputer(
        inputCols=['experience'],
        outputCols=["{}_edited".format("experience")]
    ).setStrategy("mean")

In [13]:
#adding imputed cols to df_pyspark
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+---+----------+------+-----------------+
|     name|age|experience|salary|experience_edited|
+---------+---+----------+------+-----------------+
|     Yash| 17|         6|  5000|                6|
|    Aryan| 18|         4|  4000|                4|
|Debashish| 19|         3|  3000|                3|
|  Pratham| 18|      null|  1000|                8|
|     null| 34|        19|  5600|               19|
+---------+---+----------+------+-----------------+