In [2]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('practise').getOrCreate()

In [7]:
spark

In [10]:
df_pyspark=spark.read.csv(r'C:\Users\Sreejit\Juypter Projects\test1.csv',header=True,inferSchema=True)

In [11]:
df_pyspark.show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|     Yash| 17|         6|  5000|
|    Aryan| 18|         4|  4000|
|Debashish| 19|         3|  3000|
|  Pratham| 18|      null|  1000|
|     null| 34|        19|  5600|
+---------+---+----------+------+

# Filter Operations

In [13]:
###salary of the people for whom the salary is lessthan or equal to 3000
df_pyspark.filter('salary<=3000').show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|Debashish| 19|         3|  3000|
|  Pratham| 18|      null|  1000|
+---------+---+----------+------+

In [14]:
df_pyspark.filter('salary<=3000').select(['name','age']).show()

+---------+---+
|     name|age|
+---------+---+
|Debashish| 19|
|  Pratham| 18|
+---------+---+

In [19]:
df_pyspark.filter((df_pyspark['salary']<=3000) & 
                  (df_pyspark["salary"]>1000)).show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|Debashish| 19|         3|  3000|
+---------+---+----------+------+