In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [35]:
##read the dataset
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\Sreejit\Juypter Projects\test1.csv",inferSchema=True)

In [13]:
##Check Schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience(in months): integer (nullable = true)

In [34]:
df_pyspark=spark.read.csv(r"C:\Users\Sreejit\Juypter Projects\test1.csv",header=True,inferSchema=True)
df_pyspark.show()

+---------+---+---------------------+
|     name|age|experience(in months)|
+---------+---+---------------------+
|     Yash| 17|                    6|
|    Aryan| 18|                    4|
|Debashish| 19|                    3|
+---------+---+---------------------+

In [33]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.columns

['name', 'age', 'experience(in months)']

In [17]:
df_pyspark.head(3)

[Row(name='Yash', age=17, experience(in months)=6),
 Row(name='Aryan', age=18, experience(in months)=4),
 Row(name='Debashish', age=19, experience(in months)=3)]

In [18]:
df_pyspark.show()

+---------+---+---------------------+
|     name|age|experience(in months)|
+---------+---+---------------------+
|     Yash| 17|                    6|
|    Aryan| 18|                    4|
|Debashish| 19|                    3|
+---------+---+---------------------+

In [22]:
df_pyspark.select(['name','experience(in months)']).show()

+---------+---------------------+
|     name|experience(in months)|
+---------+---------------------+
|     Yash|                    6|
|    Aryan|                    4|
|Debashish|                    3|
+---------+---------------------+

In [23]:
df_pyspark['name']

Column<'name'>

In [24]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience(in months)', 'int')]

In [26]:
df_pyspark.describe().show()

+-------+-----+----+---------------------+
|summary| name| age|experience(in months)|
+-------+-----+----+---------------------+
|  count|    3|   3|                    3|
|   mean| null|18.0|    4.333333333333333|
| stddev| null| 1.0|   1.5275252316519468|
|    min|Aryan|  17|                    3|
|    max| Yash|  19|                    6|
+-------+-----+----+---------------------+

In [30]:
## Adding columns in data frames
df_pyspark=df_pyspark.withColumn('experience after 2years',df_pyspark['experience(in months)']+2)

+---------+---+---------------------+-----------------------+
|     name|age|experience(in months)|experience after 2years|
+---------+---+---------------------+-----------------------+
|     Yash| 17|                    6|                      8|
|    Aryan| 18|                    4|                      6|
|Debashish| 19|                    3|                      5|
+---------+---+---------------------+-----------------------+

In [36]:
df_pyspark

DataFrame[name: string, age: int, experience(in months): int]

In [37]:
## Drop the columns
df_pysprk=df_pyspark.drop('experience after 2years')

In [40]:
df_pyspark

DataFrame[name: string, age: int, experience(in months): int]

In [42]:
##Renameing data frames
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+---------------------+
| New Name|age|experience(in months)|
+---------+---+---------------------+
|     Yash| 17|                    6|
|    Aryan| 18|                    4|
|Debashish| 19|                    3|
+---------+---+---------------------+